.footer {
	grid-column: full-start/full-end;
	background: $color-secondary;

	@media only screen and (max-width: $bp-large) {
		grid-column: sidebar-start/full-end;
	}

	&__nav {
		margin-top: 3rem;
	}
	&__legal {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 300;
		color: #f4f4f4;
		text-align: center;
		margin: 5rem;
	}
}

.nav {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		align-items: center;
		justify-items: center;
		grid-gap: 2rem;

		list-style: none;
		font-size: 1.3rem;
		margin: 0 5vw;
	}
	// &__item {
	// }
	&__link {
		color: $color-grey-light-2;
		padding: 1rem;
		display: block;

		text-align: center;
		font-size: 1.6rem;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 2rem;

		&:hover {
			background-color: rgba($color-grey-light-2, 0.06);
		}
	}
}
