.paragraph {
	font-size: 1.7rem;
	font-weight: 300;
	line-height: 1.6;
	color: #888;
}

.center {
	text-align: center;
}

.heading-2 {
	font-size: 4rem;
	line-height: 4rem;
	padding: 3rem 0;
	font-family: $font-primary;
	font-style: italic;
}
.heading-3 {
	font-size: 1.6rem;
	color: #f4f4f4;
	text-transform: uppercase;
	&-primary {
		color: $color-primary;
	}
}
.heading-4 {
	font-size: 1.9rem;
	font-weight: bold;

	&-dark {
		color: currentColor;
	}
	&-primary {
		color: $color-primary;
	}
}
